<div class="container container-fluid d-flex flex-column align-items-center">
  {{#each projects}}
  <a href="/projects/{{id}}" class="w-100">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{user.name}}</h6>
        <p class="card-text">{{description}}</p>
        <p class="card-text">Needed Funding: ${{needed_funding}}</p>
      </div>
    </div>
  </a>
  {{/each}}
</div>